:root {
  --shiki-color-text: theme('colors.white');
  --shiki-token-constant: theme('colors.emerald.300');
  --shiki-token-string: theme('colors.emerald.300');
  --shiki-token-comment: theme('colors.zinc.500');
  --shiki-token-keyword: theme('colors.sky.300');
  --shiki-token-parameter: theme('colors.pink.300');
  --shiki-token-function: theme('colors.violet.300');
  --shiki-token-string-expression: theme('colors.emerald.300');
  --shiki-token-punctuation: theme('colors.zinc.200');
}

::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 8px;
  background: #f5f5f5;
}
.dark ::-webkit-scrollbar,
.dark .sidebar::-webkit-scrollbar {
  background: #18181b;
}

::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb,
.dark .sidebar::-webkit-scrollbar-thumb {
  background: #27272a;
}

.not-prose {
  max-width: inherit;
  margin-left: calc(50% - min(50%, 33rem)) !important;
  margin-right: calc(50% - min(50%, 33rem)) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;